    .footer {
        position: absolute;
        right: 0;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: #148DDD;
        color: white;
        text-align: center;
        text-align: center;
    }
    /*nav*/